# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/
.pnp

# Build
.next/
out/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
prisma/dev.db
prisma/dev.db-journal

# Logs
npm-debug.log*
yarn-debug.log*